# Keil MDK 编译输出
Objects/
Listings/
DebugConfig/
*.uvguix.*
*.uvopt
*.uvoptx
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.o
*.d
*.crf
*.dep
*.i
*.axf
*.elf
*.hex
*.bin
*.map
JLinkLog.txt
*.log
*.zip
*.rar